<h1 class="main-header">Homepage</h1>
<p>Welcome to personal Artem`s website</p>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
</ul>

<img alt="food" src="images/hero.jpg" />